$font-stack: Helvetica,
sans-serif;
$font-brand: Helvetica,
sans-serif;
$text-color: #333;

$tablet-width: 768px;
$desktop-width: 1024px;

/* ==========================================================================
   RESPONSIVE Styles
   ========================================================================== */

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/* ==========================================================================
   GENERAL Styles
   ========================================================================== */

a:link {
    text-decoration: none;
    color: $text-color;
    font-family: $font-stack;
}

.inline {
    display: inline-block;
}

.wrapper {
    width: 80%;
    margin: 5px auto;
}

.radius{
    border-radius: 5px;
}

.transition{
    -webkit-transition: all 1s;
            transition: all 1s;
}

.bg-primary{
    background : #333;
}

/* ==========================================================================
   NAVIGATION BAR Styles
   ========================================================================== */

.nav {
    color: white;
    height: 50px;
    
    .navContainer {
        a {
            position: relative;
            display: block;
            padding: 16px 25px;
            color: white;
            @extend .transition;
        }

        a:hover,
        a:focus {
            text-decoration: none;
            background-color: #444;
            color:#B1E3FF;
        }
        .navBrand {
          text-transform: uppercase;
          font-weight: bold;
        }
        .navMenu {
            list-style: none;
            ul {
                padding: 0;
                margin: 0;
                li {
                    position: relative;
                    display: inline-block;
                }
                li.active {
                    a {
                        color: #9C9C9C;
                        background: #222;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
   HEADER Styles
   ========================================================================== */


/* ==========================================================================
   CONTENT Styles
   ========================================================================== */
.content{
    .contentItem{

    }
}